[dir='rtl'] {
	font-size:1em;
    line-height: 1.5em !important;
}
input[dir='rtl'] {
    font-size: 0.5em;
    line-height: 1.5em !important;

}
.g [dir='rtl'] {
	text-align: right!important;
    line-height: 1.5em !important;

}